/* Global app styling */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}

/* Centering the main component */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Reset some default styles */
* {
  box-sizing: border-box;
}
